.accordion-item {
    transition: var(--transition);
}

.accordion-item.active {
    box-shadow: var(--shadow-md);
}

.accordion-header {
    transition: var(--transition);
}

.accordion-header:hover {
    background: var(--primary-light);
}

.accordion-item.active .accordion-header {
    background: var(--primary-light);
}

.accordion-header i {
    transition: var(--transition);
}

.accordion-item.active .accordion-header i {
    transform: rotate(45deg);
    /* Plus to X */
}
